.hover-bg-primary:hover {
  color: #fff;
  background-color: #458fd2;
  border-color: #3183cc; }

.hover-bg-success:hover {
  color: #fff;
  background-color: #8cc152;
  border-color: #7fb842; }

.hover-bg-info:hover {
  color: #fff;
  background-color: #3bb5e8;
  border-color: #24ace5; }

.hover-bg-warning:hover {
  color: #fff;
  background-color: #feab34;
  border-color: #fea01b; }

.hover-bg-danger:hover {
  color: #fff;
  background-color: #e9573f;
  border-color: #e64328; }

.hover-bg-mint:hover {
  color: #fff;
  background-color: #19b698;
  border-color: #16a085; }

.hover-bg-purple:hover {
  color: #fff;
  background-color: #9365b8;
  border-color: #8754b0; }

.hover-bg-pink:hover {
  color: #fff;
  background-color: #eb72b6;
  border-color: #e85caa; }

.hover-bg-dark:hover {
  color: #fff;
  background-color: #3b3e46;
  border-color: #2f3238; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-thin {
  font-weight: 100; }

.line-height-md * {
  line-height: 24px; }

.color-normal {
  color: #333333; }

.color-orange {
  color: #ff7800; }

.color-gray {
  color: #707070; }

.border-left {
  border-left: 1px solid #d0d0d0; }

.border-bottom {
  border-bottom: 1px solid #d0d0d0; }

.border-bottom-light {
  border-bottom: 1px solid #f0f0f0; }

.borderd {
  border: 1px solid #d0d0d0; }

.inline {
  display: inline; }

.white-bg {
  background: #fff; }

.light-bg {
  background: #f0f0f0; }

.abs-light-bg {
  background: #f7f7f7; }

.opcitied {
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#77000000',endColorstr='#77000000'); }

.no-border {
  border: none !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.sm-padding {
  padding: 5px; }

.sm-padding-x {
  padding-left: 5px;
  padding-right: 5px; }

.sm-padding-y {
  padding-top: 5px;
  padding-bottom: 5px; }

.movie-list-ul-right-patch {
  margin-right: -9px; }

.md-padding {
  padding: 10px; }

.md-padding-x {
  padding-left: 10px;
  padding-right: 10px; }

.md-padding-y {
  padding-top: 10px;
  padding-bottom: 10px; }

.lg-padding {
  padding: 15px; }

.lg-padding-x {
  padding-left: 15px;
  padding-right: 15px; }

.lg-padding-y {
  padding-top: 15px;
  padding-bottom: 15px; }

.no-padding-right {
  padding-right: 0 !important; }

@media (min-width: 1200px) {
  .border-left-lg {
    border-left: 1px solid #d0d0d0; }

  .border-bottom-lg {
    border-bottom: 1px solid #d0d0d0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .border-left-md {
    border-left: 1px solid #d0d0d0; }

  .border-bottom-md {
    border-bottom: 1px solid #d0d0d0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .border-left-sm {
    border-left: 1px solid #d0d0d0; }

  .border-bottom-sm {
    border-bottom: 1px solid #d0d0d0; } }
@media (max-width: 768px) {
  .border-left-xs {
    border-left: 1px solid #d0d0d0; }

  .border-bottom-xs {
    border-bottom: 1px solid #d0d0d0; }

  .nav {
    display: -webkit-box;
    -webkit-box-pack: justify; }

  .nav > li {
    display: inline-block;
    text-align: center;
    padding: 0; }
    .nav > li a {
      padding-left: 10px;
      padding-right: 10px; } }
