//
// Base styles
//
.btn {
  line-height: inherit;
}

//
// Alternate buttons
//

.btn-mint {
  @include button-variant($btn-mint-color, $btn-mint-bg, $btn-mint-border);
}
.btn-purple {
  @include button-variant($btn-purple-color, $btn-purple-bg, $btn-purple-border);
}
.btn-pink {
  @include button-variant($btn-pink-color, $btn-pink-bg, $btn-pink-border);
}
.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}

// // Fix color
// .btn-outline-secondary {
//   @include button-outline-variant($btn-secondary-border);
//   color: darken($btn-secondary-color, 30%);
// }

// Remove all backgrounds
.btn-outline-mint {
  @include button-outline-variant($btn-mint-border);
}
.btn-outline-purple {
  @include button-outline-variant($btn-purple-border);
}
.btn-outline-pink {
  @include button-outline-variant($btn-pink-border);
}
.btn-outline-dark {
  @include button-outline-variant($btn-dark-border);
}