.pull-left {
  @include float-left();
}
.pull-right {
  @include float-right();
}
.pull-none {
  float: none !important;
}


.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }