// Options
$enable-flex:               true;
$enable-transitions:        true !default;
$border-color:              rgba(0,0,0,.09) !default;
$border-width:              1px !default;

// $enable-shadows:            true !default;

// Basic
$box-shadow-lg:             0 2px 8px rgba(0, 0, 0, .3);
$box-shadow:                0 1px 4px rgba(0,0,0,.04);
$box-shadow-sm:             0 1px 4px rgba(0,0,0,.04);

$border-radius:             .15rem !default;
$border-radius-lg:          .15rem !default;
$border-radius-sm:          .10rem !default;

// Colors
$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-mint:                #19b698 !default;
$brand-purple:              #9365b8 !default;
$brand-pink:                #eb72b6 !default;
$brand-dark:                #3b3e46 !default;
$brand-gray:                #7f7f7f !default;
$brand-light-gray:          rgba(0,0,0,.44) !default;

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                rgba(0,0,0,.40) !default;
$gray-lighter:              rgba(0,0,0,.07) !default;
$gray-lightest:             rgba(0,0,0,.06) !default;

// Components
$component-active-color:    #fff !default;
$component-active-bg:       $brand-primary !default;

// Fonts
$font-family-sans-serif:    "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
$font-family-monospace:      Monaco, Consolas, Menlo, "Courier New", monospace !default;

$line-height:               1.6 !default;
$line-height-lg:            $line-height !default;
$line-height-sm:            $line-height !default;

$headings-font-family:      inherit !default;
$headings-font-weight:      300 !default;
$headings-line-height:      $line-height !default;
$headings-color:            inherit !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             10px !default;

$font-size-base:             1.4rem !default;
$font-size-lg:               1.6rem !default;
$font-size-sm:               1.4rem !default;
$font-size-xs:               1rem !default;

$font-size-h1:               5rem !default;
$font-size-h2:               4rem !default;
$font-size-h3:               3rem !default;
$font-size-h4:               2.4rem !default;
$font-size-h5:               2rem !default;
$font-size-h6:               1.6rem !default;

// Forms
$input-border-color:        $border-color;
$input-box-shadow:          rgba(0,0,0,.04) !default;

// Buttons
$btn-font-weight:           300;

$btn-secondary-border:      lighten($brand-dark, 40%);
$btn-secondary-color:       $brand-dark;
$btn-secondary-bg:          #fff !default;

$btn-mint-color:            #fff !default;
$btn-mint-bg:               $brand-mint !default;
$btn-mint-border:           $btn-mint-bg !default;

$btn-purple-color:          #fff !default;
$btn-purple-bg:             $brand-purple !default;
$btn-purple-border:         $btn-purple-bg !default;

$btn-pink-color:            #fff !default;
$btn-pink-bg:               $brand-pink !default;
$btn-pink-border:           $btn-pink-bg !default;

$btn-dark-color:            #fff !default;
$btn-dark-bg:               $brand-dark !default;
$btn-dark-border:           $btn-dark-bg !default;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg:                    #fff !default;
$dropdown-border-color:          $border-color !default;
$dropdown-border-width:          1px !default;
$dropdown-divider-bg:            #e5e5e5 !default;

$dropdown-link-color:            $brand-dark !default;
$dropdown-link-hover-color:      darken($brand-dark, 5%) !default;
$dropdown-link-hover-bg:         #f5f5f5 !default;

$dropdown-link-active-color:     $dropdown-link-hover-color !default;
$dropdown-link-active-bg:        $dropdown-link-hover-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;
$dropdown-header-color:          $gray-light !default;

// Labels
$label-font-weight:         400 !default;

// List group
$list-group-bg:                 #fff !default;
$list-group-border-color:       $border-color !default;
$list-group-border-width:       $border-width !default;
$list-group-border-radius:      $border-radius !default;

$list-group-hover-bg:           #f5f5f5 !default;
$list-group-active-color:       $component-active-color !default;
$list-group-active-bg:          $component-active-bg !default;
$list-group-active-border:      $list-group-active-bg !default;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:      $gray-light !default;
$list-group-disabled-bg:         $gray-lighter !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;

// Modals
$modal-content-border-color:    $border-color !default;
$modal-header-border-color:     transparent !default;

// Popovers
$popover-border-color:          $border-color !default;
$popover-title-bg:              $popover-border-color !default;

// Cards
$card-border-color:        $border-color !default;