// Options
$enable-transitions:        true !default;

// Basic
$border-radius:             .15rem !default;
$border-radius-lg:          .25rem !default;
$border-radius-sm:          .10rem !default;

// Colors
$brand-mint:                #19b698 !default;
$brand-purple:              #9365b8 !default;
$brand-pink:                #eb72b6 !default;
$brand-dark:                #3b3e46 !default;

// Fonts
$font-family-sans-serif:    'Helvetica Neue',Helvetica,'PingFang SC','Microsoft Yahei','WenQuanYi Micro Hei',Arial,Verdana,sans-serif;

$line-height:               1.6 !default;
$line-height-lg:            $line-height !default;
$line-height-sm:            $line-height !default;

$headings-font-family:      inherit !default;
$headings-font-weight:      300 !default;
$headings-line-height:      $line-height !default;
$headings-color:            inherit !default;

// Forms
$input-border-color:        #e1e6f0;

// Buttons
$btn-mint-color:            #fff !default;
$btn-mint-bg:               $brand-mint !default;
$btn-mint-border:           $btn-mint-bg !default;

$btn-purple-color:          #fff !default;
$btn-purple-bg:             $brand-purple !default;
$btn-purple-border:         $btn-purple-bg !default;

$btn-pink-color:            #fff !default;
$btn-pink-bg:               $brand-pink !default;
$btn-pink-border:           $btn-pink-bg !default;

$btn-dark-color:            #fff !default;
$btn-dark-bg:               $brand-dark !default;
$btn-dark-border:           $btn-dark-bg !default;