// base + custom
@import "variables";
@import "bootstrap";

// overrides
@import "buttons";
@import "breadcrumb";
@import "card";
@import "code";
@import "modals";
@import "pagination";
@import "popover";
@import "type";
@import "utilities";

// slim components
// TODO

body {
    text-rendering:optimizeLegibility;
    font-smoothing:antialiased;
    font-weight: 300;
}